/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона #FFFFFF  */
/* вторичный цвет фона "наша команда" #F5F4FA */
/* цвет фона героя и подвала #2F303A */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --primery-wite-color: #ffffff;
  --background-color: #ffffff;
  --background-hero-futer: #2f303a;
  --background-color-team: #f5f4fa;
}

body {
  background-color: var(--background-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  cursor: default;
}
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
/* шапка сайта */

.header {
  height: 80px;
}

/* logo */
.logotype {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-top {
  color: #000000;
}
.logo-doun {
  color: var(--primery-wite-color);
}
.logo-web {
  color: var(--accent-color);
}

/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
  
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* site-info */
.site-info {
  display: flex;
}
.site-info .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-info .link:hover,
.site-info .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--background-hero-futer);
  height: 600px;
}
.hero .title {
  color: var(--primery-wite-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
}
.button {
  color: var(--primery-wite-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
  padding: 10px 32px;
}
.button:hover,
.button:focus {
  color: var(--primery-wite-color);
  background-color: var(--accent-color-hover);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
}

/* features, works, */
.features {
  margin-top: 94px;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-list > li {
  width: 270px;
  height: 101px;
}
.features-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.works {
  margin-top: 94px;
}
.title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.imeges {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* team */
.team {
  background-color: var(--background-color-team);
  font-size: 16px;
  line-height: 1.19;
  margin-top: 94px;
  height: 648px;
}
.team .title {
  padding-top: 94px;
}
.team-title {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 10px;
}
.team-title,
.text {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.cards > li {
  background-color: var(--background-color);
}

/* futer */
.futer {
  background-color: var(--background-hero-futer);
  height: 252px;f
}
.futer-text {
  color: var(--primery-wite-color);
  display: initial;
  font-style: normal;
}
.futer .link {
  color: rgba(255, 255, 255, 0.6);
  display: initial;
  font-style: normal;
}

/* portfolio */
.button-nav {
  color: var(--title-text-color);
  background-color: var(--background-color-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
}
.button-nav:hover,
.button-nav:focus {
  color: var(--primery-wite-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section p {
  font-size: 16px;
  line-height: 1.9;
}
